<p>Copyright &copy; 2014 <a href="mailto:me@alyssakathryn.com">Alyssa Kathryn Threlkeld</a></p>
<p>
  Handmade with <abbr title="love" class="fa fa-heart-o"></abbr> by <a href="http://justinthrelkeld.com">Justin</a>
</p>
